.main {
  min-height: 100vh;
  padding: 20px;
  display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
  align-items: center;
  gap: 10px;
} 

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 50px;
}

.button{
  padding: 5px 10px;
  border: 2px solid blueviolet;
  border-radius: 10px;
  font-size: 20px;
}
