.main {
    padding: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto;
    gap: 10px;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle, #021b41, #022e6d, #13419c, #2e54cd, #4f67ff);
    color: black;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 20px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 20px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.6);
    width: 80%;
    padding: 20px;
}

.formLine {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    gap: 10px;
}

.formLineRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.titlePersons {
    font-size: 18px;
    font-weight: 700;
    color: #232121;
    margin-top: 20px;
}

.inputStyled {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: black;
}

.buttonSubmit {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #499134;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    width: 80%;
    margin-top: 18px;
}

.buttonSubmit:hover {
    background-color: #3e7e2d;
}

.buttonSubmit:active {
    background-color: #2f5f1f;
}
